In [1]:
import pandas as pd
import os

In [2]:
file = "Resources/mock_data.csv"
df = pd.read_csv(file)
df.head()

,ID,MS,Mp,VFN,Mh,Man,MMS,TAN,T,Va,...,Mt,Enedc (g/km),Ewltp (g/km),W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW)
0,3034815,FR,RENAULT,NaN,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,...,NaN,95.0,NaN,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
1,3034852,FR,RENAULT,NaN,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,...,NaN,95.0,NaN,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
2,3034859,FR,RENAULT,NaN,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,...,NaN,95.0,NaN,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
3,3034866,FR,RENAULT,NaN,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,...,NaN,95.0,NaN,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
4,3034873,FR,RENAULT,NaN,RENAULT,RENAULT SAS,RENAULT,E2*2001/116*0327*80,R,2RAJ,...,NaN,95.0,NaN,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0

In [3]:
practice_df = df[['Mk', 'Ct','Cr', 'm (kg)','Enedc (g/km)','W (mm)','At1 (mm)','At2 (mm)','Ft','Fm','ec (cm3)','ep (KW)']]
practice_df.head()

,Mk,Ct,Cr,m (kg),Enedc (g/km),W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW)
0,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
1,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
2,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
3,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
4,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0

In [5]:
practice_df.dtypes

Mk               object
Ct               object
Cr               object
m (kg)            int64
Enedc (g/km)    float64
W (mm)          float64
At1 (mm)        float64
At2 (mm)        float64
Ft               object
Fm               object
ec (cm3)        float64
ep (KW)         float64
dtype: object

In [9]:
practice_df.rename({'Ct': 'Category Type Approved','Cr':'Category Registered', 'm(kg)':'Mass (kg)','Enedc (g/km)':'CO2 (g/km)','At1 (mm)':'Steering Axle (mm)','At2 (mm)':'Other Axle (mm)','ec (cm3)':'Engine Capacity (cm3)','ep (KW)':'Engine Power (KW)'}, axis=1, inplace=True)
practice_df.head(20)

/Users/abdulhakiim/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Mk,Category Type Approved,Category Registered,Mass (kg),CO2 (g/km),W (mm),Steering Axle (mm),Other Axle (mm),Ft,Fm,Engine Capacity (cm3),Engine Power (KW)
0,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
1,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
2,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
3,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
4,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
5,RENAULT,M1,M1,1448,132.0,2647.0,1562.0,1562.0,PETROL,M,1197.0,96.0
6,RENAULT,M1,M1,1448,132.0,2647.0,1562.0,1562.0,PETROL,M,1197.0,96.0
7,RENAULT,M1,M1,1395,130.0,2647.0,1562.0,1562.0,PETROL,M,1197.0,96.0
8,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
9,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
10,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
11,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
12,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
13,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
14,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
15,RENAULT,M1,M1,1165,85.0,2589.0,1509.0,1509.0,DIESEL,M,1461.0,55.0
16,RENAULT,M1,M1,1555,0.0,2588.0,1511.0,1511.0,ELECTRIC,E,NaN,43.0
17,RENAULT,M1,M1,1555,0.0,2588.0,1511.0,1511.0,ELECTRIC,E,NaN,43.0
18,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
19,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0

In [14]:
practice_df.isnull().sum()

Mk                          33
Category Type Approved       0
Category Registered       3066
Mass (kg)                    0
CO2 (g/km)                  45
W (mm)                       1
Steering Axle (mm)          70
Other Axle (mm)            412
Ft                           0
Fm                           0
Engine Capacity (cm3)       35
Engine Power (KW)          429
dtype: int64

In [15]:
practice_df.shape

(9999, 12)

In [20]:
practice_df.dropna(how = 'any', inplace=True )

/Users/abdulhakiim/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [21]:
practice_df.shape

(6486, 12)

In [22]:
practice_df.head(20)

,Mk,Category Type Approved,Category Registered,Mass (kg),CO2 (g/km),W (mm),Steering Axle (mm),Other Axle (mm),Ft,Fm,Engine Capacity (cm3),Engine Power (KW)
0,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
1,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
2,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
3,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
4,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
5,RENAULT,M1,M1,1448,132.0,2647.0,1562.0,1562.0,PETROL,M,1197.0,96.0
6,RENAULT,M1,M1,1448,132.0,2647.0,1562.0,1562.0,PETROL,M,1197.0,96.0
7,RENAULT,M1,M1,1395,130.0,2647.0,1562.0,1562.0,PETROL,M,1197.0,96.0
8,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
9,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
10,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
11,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
12,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
13,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
14,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
15,RENAULT,M1,M1,1165,85.0,2589.0,1509.0,1509.0,DIESEL,M,1461.0,55.0
18,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
19,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
20,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0
21,RENAULT,M1,M1,1253,95.0,2606.0,1531.0,1531.0,DIESEL,M,1461.0,66.0

In [23]:
practice_df.to_csv("Resources/mock_data_for_practice.csv")