In [1]:
%matplotlib inline

In [19]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
import os
import sys
sys.path.append('/Users/abdulhakiim/desktop/projects/data analytics/bootcamp/Final_project/Database')

In [36]:
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder
from config import password

In [37]:
user = 'postgres'
password = password
host = 'co2.cvdgde1e8bz6.us-east-2.rds.amazonaws.com'
port = 5432
database = 'co2'
engine_1 = create_engine(f'postgresql://' + user + ':' + password + '@' + host + ':' + str(port) + '/' + database , pool_recycle=3600, echo=False)

In [38]:
table = "select * from public.co2_levels"

In [39]:
df = pd.read_sql(table, con=engine_1)

In [40]:
df.head()

,ids,mk,category_type_approved,category_registered,ft,fm,mass,co2,w,steeringaxle,otheraxle,enginecapacity,enginepower
0,3034815,RENAULT,M1,M1,DIESEL,M,1253.0,95.0,2606.0,1531.0,1531.0,1461.0,66.0
1,3034852,RENAULT,M1,M1,DIESEL,M,1253.0,95.0,2606.0,1531.0,1531.0,1461.0,66.0
2,3034859,RENAULT,M1,M1,DIESEL,M,1253.0,95.0,2606.0,1531.0,1531.0,1461.0,66.0
3,3034866,RENAULT,M1,M1,DIESEL,M,1253.0,95.0,2606.0,1531.0,1531.0,1461.0,66.0
4,3034873,RENAULT,M1,M1,DIESEL,M,1253.0,95.0,2606.0,1531.0,1531.0,1461.0,66.0

In [41]:
df.rename({'fm':'Fm','ft':'Ft','ids':'ID','mk':'Mk','w':'W (mm)','category_type_approved': 'Category Type Approved','category_registered':'Category Registered', 'mass':'Mass (kg)','co2':'CO2 (g/km)','steeringaxle':'Steering Axle (mm)','otheraxle':'Other Axle (mm)','enginecapacity':'Engine Capacity (cm3)','enginepower':'Engine Power (KW)'}, axis=1, inplace=True)
df.head()

,ID,Mk,Category Type Approved,Category Registered,Ft,Fm,Mass (kg),CO2 (g/km),W (mm),Steering Axle (mm),Other Axle (mm),Engine Capacity (cm3),Engine Power (KW)
0,3034815,RENAULT,M1,M1,DIESEL,M,1253.0,95.0,2606.0,1531.0,1531.0,1461.0,66.0
1,3034852,RENAULT,M1,M1,DIESEL,M,1253.0,95.0,2606.0,1531.0,1531.0,1461.0,66.0
2,3034859,RENAULT,M1,M1,DIESEL,M,1253.0,95.0,2606.0,1531.0,1531.0,1461.0,66.0
3,3034866,RENAULT,M1,M1,DIESEL,M,1253.0,95.0,2606.0,1531.0,1531.0,1461.0,66.0
4,3034873,RENAULT,M1,M1,DIESEL,M,1253.0,95.0,2606.0,1531.0,1531.0,1461.0,66.0