In [1]:
import pandas as pd
import os
import sqlite3

In [2]:
conn = sqlite3.connect('mock_data.db')

print ("Initiated successfully")

Initiated successfully

In [3]:
df_db = conn.execute("SELECT * FROM MOCK_ML").fetchall()

In [4]:
cols=["Mk","Category Type Approved" ,"Category Registered" ,"Mass (kg)","CO2 (g/km)" ,"W (mm)","Steering Axle (mm)" ,"Other Axle (mm)" , "Ft" ,"Fm" ,"Engine Capacity (cm3)","Engine Power (KW)"]

In [5]:
ml_mock = pd.DataFrame(df_db, columns=cols)
ml_mock.head()

,Mk,Category Type Approved,Category Registered,Mass (kg),CO2 (g/km),W (mm),Steering Axle (mm),Other Axle (mm),Ft,Fm,Engine Capacity (cm3),Engine Power (KW)
0,RENAULT,M1,M1,1253,95,2606,1531,1531,DIESEL,M,1461,66
1,RENAULT,M1,M1,1253,95,2606,1531,1531,DIESEL,M,1461,66
2,RENAULT,M1,M1,1253,95,2606,1531,1531,DIESEL,M,1461,66
3,RENAULT,M1,M1,1253,95,2606,1531,1531,DIESEL,M,1461,66
4,RENAULT,M1,M1,1253,95,2606,1531,1531,DIESEL,M,1461,66